@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: sansation;
    src: url("./fonts/Sansation_Regular.ttf");
  }
}

/* #hero-section {
  background-image: url(./src/img/grid-wo-border.svg);
  z-index: -20;
  background-position: bottom -7rem right 9rem;
  background-repeat: no-repeat;
} */
